{"RemoteApiPath":"https://dbvanapi.lizzalt.com","DataBaseName":"DBVAN","EnableItemsLiveSearch":false,
"IsLivePos":true,"MachineName":"","MachineKey":"019FD95FF8D3CCE2","AppType":"Connected","SalesInvoicePrinteTemplate":"",
"SalesOrderPrinteTemplate":"","SalesEstimatePrinteTemplate":"","SalesReturnInvoicePrinteTemplate":"","PurchaseInvoicePrinteTemplate":"",
"PurchaseReturnInvoicePrinteTemplate":"","ReceiptPrinteTemplate":"","PaymentPrinteTemplate":"","PrintingMode":"PDF","PrinterName":"",
"PrinterCommand":"Graphic","IsExclusivePriceInSales":true,"IsForceSingleEntry":false,"IsItemsInSerach":false,"PrintPartyNameArabic":false,
"PrintAfterSave":false,"PrintPartyAddress":false,"IsPrePrint":false,"PrintPartyBalance":false,"PrintItemNameArabic":false,
"IsForceSingleEntryPurchase":false,"AutoCalculateRecivedAmountInsales":false,"EnableCafeMode":false,"EnableShellStationMode":false,
"AllowNegetiveStockInSales":true,"ShowSettlementInSalesOrder":false,"SyncAfterSave":false,"AllowSwitchPriceCategory":false,
"AllowEditInvoiceDate":false,"AllowPartySwitch":true,"CurrentRouteId":0,"ShowMRPInCart":false,
"ShowCashBankInPartiesList":false,"QtyEditorInItemFilter":false,"NotifyAppUpdates":true,"IsOnline":false}